html {
    background-color: rgb(245, 210, 224);
}
p {
    color:rgb(17, 131, 74);
}
h2 {
    color: rgb(12, 235, 34);
}
a {
    color: rgb(58, 54, 65);
}
.block {
    width: 260px;
    background-color: rgb(181, 241, 184);
    border: 2px solid rgb(240, 180, 180);
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
}